{% extends 'base.html' %}
{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h3>About</h3>
                <p>Keeping your home and family organized can be tough with everyone on the go. Nucleus makes planning easier by allowing users to create grocery, shopping, and to-do lists and share them with other users. With flexible permissions, allowed users can edit lists and mark off completed items, and Nucleus will automatically notify everyone else on the list through SMS messaging. When users are near the location of a list, they're sent a reminder to take care of it. Nucleus helps you manage your busy life.</p>

                <p>Hackbright Academy is the leading engineering school for women with a mission to increase female representation in tech through education, mentorship and community. <!-- Founded in San Francisco in 2012, the academy graduates more female engineers than Stanford and UC Berkeley each year.  -->For more information about the program, please visit <a href="https://hackbrightacademy.com">hackbrightacademy.com</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}