{% extends 'base.html' %}
{% block content %}
<style>
  #map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
    position: 50%;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function showPosition(position){
    console.log(position);
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    console.log(lat,lon);
    var postParams = { 'lat' : lat, 'lon' : lon};
    console.log(postParams)
    $.get('/show_location', postParams, function() {
        console.log("we're back")});
};

navigator.geolocation.getCurrentPosition(showPosition);

function initialize() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(lat, lon),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="user_info">
    <div>User Name: {{ user_info.name }}</div>
    <div>Email: {{ user_info.email }}</div>
    <div>Mobile: {{ user_info.mobile }}</div>
    <div>Address: {{ user_info.user_location_address }}</div>
</div>
<div id="map"></div>







{% endblock %}