{% extends 'base.html' %}
{% block content %}

    <div id="existing_lists">
        <h1 id="existing-lists-title">Existing Lists:</h1>
        {% for group in user_list_groups %}
            <a href="/lists/{{ group.checklist.list_id }}">
            {{ group.checklist.name }} 
            </a> Due on: {{ group.checklist.due_date_list}} Created by: {{ group.checklist.created_by }}
                {% if group.checklist.list_location_address %}
                    Location: {{ group.checklist.list_location_address }}
                {% endif %}<br>
        {% endfor %}
    </div>

    <form action="/new_list_base" method="GET">
        <input type="submit" value="Create New List">
    </form>



<script>
function showPosition(position){
    console.log(position);
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    console.log(lat,lon);
    var postParams = { 'lat' : lat, 'lon' : lon};
    console.log(postParams)
    $.get('/location', postParams, function() {
        console.log("we're back")});
};


navigator.geolocation.getCurrentPosition(showPosition);


</script>


{% endblock %}