{% extends 'base.html' %}
{% block content %}
    <div id="list-items">
        <h1 id="list-items-title">List Items:</h1>
        {% if this_list.list_type=='shopping' %}
                shopping <br>
            {% for item in this_list.shoppings %}
                Item: {{ item.item }}, Complete?: {{ item.status_notdone }},
                    {% if item.due_date_shopping %}
                        Due Date: {{ item.due_date_shopping }}
                    {% endif %}
            <br>
            {% endfor %}
        {% endif %}

        {% if this_list.list_type=='todo' %}
                todo <br>
            {% for item in this_list.to_dos %}
                Item: {{ item.item }}, Complete?: {{ item.status_notdone }},
                    {% if item.due_date_todo %}
                        Due Date: {{ item.due_date_todo }}
                    {% endif %}
            <br>
            {% endfor %}
        {% endif %}


    </div>

{% endblock %}