{% extends 'base.html' %}
{% block content %}


<div id="base-form">
    <form action='/new_list_base', method="POST">
        Name:
        <input type="text" name="name" placeholder="Name of new lists" style="width:300px"><br><br>
        Due Date:
        <input type="text" name="due-date-list" class="datepicker" placeholder="Due Date" style="width:200px"><br><br>
        List Location:
        <input type="text" name="list_location_name" placeholder="Where does this list occur?" style="width:150px">
        <input type="text" name="list_location_address" placeholder="Street address, city, state, zip" style="width:300px"><br><br>
        List Type:
        <select id="select-list-type" name="list-type">
            <option value="to-do">To Do</option>
            <option value="shopping">Shopping</option>
        </select><br><br>
        add someone to this list?
        <input type="text" name="listPermissions" id="userPermissions" placeholder="name of someone">
        <input type="submit" id="submit-btn" value="Continue">
    </form>
</div>

<div id="new-list-form"></div>




<script>
// // FIXME: This only allows for changing from default to-do to shopping; what if user decides to change back to to-do?
//     console.log(document.getElementById("select-list-type").value);
//     document.getElementById("select-list-type").addEventListener("change", function(evt){
//         alert(this.value);
//         document.getElementById("new-todo-list").style.display = "none";
//         document.getElementById("new-shopping-list").style.display = "block"
//     });
 </script>   

{% endblock %}