{% extends 'base.html' %}
{% block content %}
    <div id="list-items"><h1>New List:</h1></div>




<div id="new-list-form">

    <form id="new-shopping-list" style="display:none;" action="/new_list" method="POST">
        Shopping List
<!-- Part of form for lists table
 -->
  
<!-- Part of form for shoppings table
 -->
        <div id = "list-container">
            <div class="list-field">
                Task:
                <input type="text" class="list-row-item" name="list_item" placeholder="Enter Item" style="width: 200px;">
                <input type="text" name="list_item_due_date" class="datepicker" class="list-row-due-date" placeholder="If item has separate due date, enter here" style="width: 200px;"><br>
            </div>
        </div><br>
        <button type="button" id="add-new">Add another row</button>
        <input type="submit" name="shopping-list">
    </form>



    <form id="new-todo-list" style="display;" action="/new_list" method="POST">
        To-Do List
        Name:
        <input type="text" name="name" placeholder="Name of new to-do list" style="width:300px"><br><br>

        <div id = "list-container">
            <div class="list-field">
                Task:
                <input type="text" class="list-row" name="list_row" placeholder="Enter Task" style="width: 100px;">
            </div>
        </div><br>
        <button type="button" id="add-new">Add another row</button>
        <input type="submit" name="todo" id="formSubmitId" value="Save list"></input>
    </form>

  </div>





<script>
    $("#add-new").on('click', add_more_rows);

    function add_more_rows() {
        var new_list_row = $(".list-field").get(0);
        var new_field= $(new_list_row).clone();
        new_field.appendTo("#list-container");
        index = $("#list-container").children().length
                            };
</script>
<script>
// FIXME: This only allows for changing from default to-do to shopping; what if user decides to change back to to-do?
    console.log(document.getElementById("select-list-type").value);
    document.getElementById("select-list-type").addEventListener("change", function(evt){
        alert(this.value);
        document.getElementById("new-todo-list").style.display = "none";
        document.getElementById("new-shopping-list").style.display = "block"
    });
 </script>   

{% endblock %}